.background img {
  width: 100%;
  object-fit: fill; }

.head-content {
  height: 600px; }
  .head-content .middle {
    height: 350px; }
    .head-content .middle h1, .head-content .middle h2 {
      text-align: center;
      color: #fff; }

.bottom-menu {
  padding-top: 190px;
  width: 100%;
  height: auto; }
  .bottom-menu .menu-box {
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    height: 60px;
    box-sizing: border-box; }
    .bottom-menu .menu-box a {
      width: 100px;
      margin-left: 10px;
      margin-right: 10px;
      display: inline-block;
      float: left; }
