.background-video {
	width: 100%;
	height: auto;
	position: absolute;
	display: inline-block;
	object-fit: contain;

}

.background {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	display: block;
}



.head-sector
{
	height: 600px;
	position: relative;

	.head-content {
		position:relative;
		z-index: 2;

		.middle {
			padding-top: 200px;
		}
	}
}

