.city
{
	fill: #ddd;
	pointer-events: all;
}

.city-boundary
{

	fill: none;
	stroke: #777;
	stroke-dasharray: 2,2;
	stroke-linejoin: round;
}

path.city:hover
{
	cursor: pointer;
	fill: #f2c251;
}

.city-label
{
	pointer-events: none;
	text-anchor: middle;
}

