#signupModal {
	.date-fields select {
		display: inline-block;
		margin: 2px;
		width: 100px;
}
.sex-fields {
	input, label { 
		display: inline-block;
}

label {
	width: 100px;
}

input {
	width: 20px;
}
}
}
