#content {
	.content-body {
		padding: 50px;
	}
}

.btn-search {
	background-color: #c2eddb;
}

.region-select-box {
	width: 460px;
	margin: auto;
	padding: 30px 80px 30px 80px;
	background-color: rgba(0, 0, 0, 0.2);
}

.select-with-button {
	width: 300px;
	margin: auto;

	.select-box {
		width: 200px;
		margin: 0px;
		display: inline-block;

		.region_select {
			margin: 0px;
		}
	}

	.button-box {
		width: 100px;
		margin: 0px;
		display: inline-block;	

		.btn {
			width: 100px;
			border: 1px solid rgba(0,0,0,0.1);
			margin: 0px;
		}
	}
}

.background {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	display: block;
}

.form-control, .btn, .select {
	border-radius: 0px;
}

select {
	-webkit-appearance: none;
	display: block;
}

.left-sidebar {
	vertical-align: top;
	display: inline-block;
	width: 25%;
}

.right-sidebar {
	vertical-align: top;
	display: inline-block;
	width: 25%;
}

.center-content {
	vertical-align: top;
	display: inline-block;
	width: 50%;
}

.star-medium {
	width: 20px;
}

.star-large {
	width: 30px;
}

.star-box {
	font-size: 20px;
	display: inline-block;
	.star-text {
		color: #777;
		vertical-align: middle;
		height: 100%;
	}

	img {
		vertical-align: middle;
	}
}

.star-box.large {
	font-size: 20px;

	img {
		width: 30px;
	}
}

.star-box.medium {
	font-size: 15px;
	img {
		width: 20px;
	}
}

.star-box.small {
	font-size: 12px;
	img {
		width: 15px;
	}
}

.x-icon {
	margin-left: 5px;
	font-weight: bold;
	color: #777;
}

