.tag-selector-wrapper {
	.twitter-typeahead {
		width: 200px;
	}

	.tag-select {
		width: 200px;
		display: inline-block;
	}

	.tags-box {
		margin-left: 20px;
		display: inline-block;

		.selected-tag {
			margin-left: 5px;
			margin-right: 5px;

		}
	}
}
