html, body {
  height: 100%; }

#map {
  height: 100%; }

.map-form-wrapper {
  width: 700px;
  height: 100%;
  padding: 20px;
  margin: auto; }
  .map-form-wrapper .form-group input {
    width: 400px; }
  .map-form-wrapper .submit-button {
    display: block;
    width: 200px;
    margin: auto;
    margin-bottom: 20px; }

.photo-col .photo-preview {
  width: 100px;
  height: 100px;
  display: inline-block; }
  .photo-col .photo-preview .place-preview {
    max-width: 100px;
    max-height: 100px; }

.photo-col .photo-input-box {
  width: 200px;
  height: 100px;
  overflow: visible;
  display: inline-block;
  vertical-align: top; }
  .photo-col .photo-input-box #placePhoto {
    position: relative;
    top: 50%;
    width: 200px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.photos {
  width: 340px;
  height: 150px;
  display: inline-block;
  vertical-align: top; }
  .photos .photo-item {
    display: inline-block;
    vertical-align: top;
    padding: 10px; }
    .photos .photo-item img {
      max-width: 100px; }
