.grid {
	width: 100%;
	margin: auto;
}
.grid-sizer, .grid-item {
	width: 33.33%;
}

.photo-article-item {
	float: left;

	.photo-box {
		width: 100%;
		margin: auto;

		text-align: center;

		img {
			width: 100%;
			max-height: 100%;

		}
	}

	.author {
		background-color: #e6e0c8;
		padding: 10px;
		border-top: 1px solid #ccc;
		width: 100%;
	}
}


