.form-wrapper{
	.photo-preview {
		height: 300px;
		width: 100%;
		padding: 20px;
		position: relative;

		.upload-photo {
			height: 100%;
			width: 100%;
			display: block;
			text-align: center;
			font-size: 200px;
		}
		.uploaded {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

		.photo_input {
			position: absolute;
			top: -100px;
		}
	}

	.description {
		min-height: 100px;
	}

	.submit {
		text-align: center;
	}
}

