.region-box 
	.region-name
		h3= region.name
	.boards
		if (region.boards)
			each board in region.boards
				- query = jadeHelper.buildGetQuery({ region: region._id.toString(), regions: [region._id.toString()], boards: [board._id.toString()] });
				a.btn.btn-default(href="/articles?#{query}")= board.name

