extends ../layout


block script_variables 
	| var local_data = !{JSON.stringify(local_data)};   

block script
	link(rel="stylesheet", href="/stylesheets/admin/places.css")
	script(src="/javascripts/admin/places/edit.js")

block content
	include ../mixins/edit_place_form.jade
	+edit_place_form(place, place.type, all_regions)
	
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdZTd-irAaxjv6JcGvXSH-NBWC-8Gq-6g&callback=initMap", async, defer)
	


