extends ../layout


block 
	script(src="/javascripts/admin/places/new.js")


block content
	#map
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdZTd-irAaxjv6JcGvXSH-NBWC-8Gq-6g&callback=initMap")




