extends ../layout


block script
	link(rel="stylesheet", href="/stylesheets/admin/places.css")
	script(src="/javascripts/admin/places/new.js")

block content
	include ../mixins/new_place_form.jade
	+new_place_form(all_regions, place_type)

	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdZTd-irAaxjv6JcGvXSH-NBWC-8Gq-6g&callback=initMap", async, defer)



