.place-modal .modal-header {
  background-color: #c3e0e6; }

.place-modal .slick-next {
  right: -5px; }

.place-modal .slick-prev {
  left: -5px; }

.place-modal .slick-slider {
  margin-bottom: 5px; }

.place-modal .photos-block .photo-item img {
  width: 100%; }

.place-modal .category {
  margin-right: 5px; }

.place-modal .description {
  border-bottom: 1px solid #ccc; }
  .place-modal .description p {
    white-space: pre;
    word-wrap: break-word; }

.place-modal .comment-container {
  margin-top: 15px; }

.place-modal .comment-field-ajax {
  margin-top: 15px; }
