extends layout

block variables
	- var nav_style = 'home'

block script
	script(src="//d3js.org/d3.v3.min.js", charset="utf-8")
	script(src="//d3js.org/topojson.v1.min.js")
	script(src="/javascripts/travel_map.js")
	script(src="/javascripts/index.js")
	link(rel="stylesheet", href='/stylesheets/map_style.css')
	link(rel="stylesheet", href='/stylesheets/index.css')

block content
	#home-content
		.head-sector
			.background
				video.background-video(preload="auto", loop="loop", autoplay="true", poster="https://a0.muscache.com/airbnb/static/landing_pages/pretzel/stills/london-3bd18731b4aacc8413208e5aa1bf13f3.jpg")
					source(src="https://a0.muscache.com/airbnb/static/London-P1-1.mp4", type="video/mp4")
					source(src="https://a0.muscache.com/airbnb/static/London-P1-0.webm", type="video/webm")

			.head-content
				.middle
					.region-select-box
						form(action="regions/goto_region", method="get")
							.select-with-button
								.select-box
									input.region_select.form-control(type="text", name="region", data-provide="typeahead")
								.button-box
									button.btn.btn-search(type="submit") 찾아가기
					.region-recommand-box
						form(action="regions/goto_recommands", method="get")
							.button-box
								button.btn.btn-search(type="submit") 어디로 갈 지 못 정하셨나요?
		.travel-map

		h1 이벤트 정보
append bottom_script
	script(src="/javascripts/bootstrap3-typeahead.min.js")
	



