extends layout

block script
	script(src="//d3js.org/d3.v3.min.js", charset="utf-8")
	script(src="//d3js.org/topojson.v1.min.js")
	script(src="/javascripts/travel_map.js")
	link(rel="stylesheet", href='/stylesheets/map_style.css')

block content
	#content
		.head-sector
			.background
				video.background-video(preload="auto", loop="loop", autoplay="true", poster="https://a0.muscache.com/airbnb/static/landing_pages/pretzel/stills/london-3bd18731b4aacc8413208e5aa1bf13f3.jpg")
					source(src="https://a0.muscache.com/airbnb/static/London-P1-1.mp4", type="video/mp4")
					source(src="https://a0.muscache.com/airbnb/static/London-P1-0.webm", type="video/webm")

			.head-content
				.middle
					.region-select-box
						.select-with-button
							.select-box
								select.region-select.form-control
									each region in regions
										option(value="#{region._id}")= region.name
							.button-box
								a.btn.btn-search 찾아가기


		ul
			each region in regions
				li 
					a.btn.btn-default(href="/regions/#{region.url}")= region.name

append bottom_script
	script(src="/javascripts/bootstrap3-typeahead.min.js")
	



