extends base_layout

append script
	link(rel='stylesheet', href='/stylesheets/partials/article_brief.css')
	link(rel="stylesheet", href="/stylesheets/layout.css")
	
	if (recommended_places)
		link(rel='stylesheet', href='/stylesheets/partials/recommended_places.css')
	if (recommended_articles)
		link(rel='stylesheet', href='/stylesheets/partials/recommended_articles.css')
	if (recommended_questions)
		link(rel='stylesheet', href='/stylesheets/partials/recommended_questions.css')


block content
	#content
		.left-sidebar
			block left_sidebar
				if (recommended_places)
					include partials/recommended_places
		.center-content
			block center_content
		.right-sidebar
			block right_sidebar
				if (recommended_articles)
					include partials/recommended_articles
				if (recommended_questions)
					include partials/recommended_questions
