block variables
	- var page_style = 'default'
	- var nav_style = 'default'

doctype html
html
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/common.css')
		script(src='http://code.jquery.com/jquery.js')
		block script
	body
		div(class="page_wrapper #{page_style}")
			block header
				include nav
			block content
				#content
					.left-sidebar
						block left_sidebar
							h2 추천 장소, 여행지
							h3 장소1
							h3 장소2 사진1
					.center-content
						block center_content
					.right-sidebar
						block right_sidebar
							h2 읽어보세요
							h3 추천글1
							h3 추천글1
							h3 추천글1
							h3 추천글1

							h2 최근 질문들
							h3 질문글1
							h3 질문글1
							h3 질문글1


			block footer
				- if (messages.error)
					span= messages.error


		block modals
			include ./login_modal.jade
			include ./signup_modal.jade

		block bottom_script
			script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
