div#loginModal.modal.modal-small.fade(tabindex="-1", role="dialog", aria-labelledby="loginModal")
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-label="Close")
					span(aria-hidden="true") x
						//header
			.modal-body
				.panel-padding.panel-body
					.row
						a.btn(href="/auth/google")
							span 구글 계정으로 로그인
					.row
						a.btn(href="/auth/facebook")
							span 페이스북 계정으로 로그인
					.row
						form(action="/login", method="post")
							.form-group
								input#email.form-control(type="text", name="email", placeholder="account@example.com")
							.form-group
								input#password.form-control(type="password", name="password", placeholder="Password")
							button.btn.btn-default.btn-block(type="submit") 로그인

					.row
						p 계정이 없으세요?
							a(href="#", data-dismiss="modal", data-toggle="modal", data-target="#signupModal") 가입하기
			.modal-footer
				//</content
	//</dialog
//modal

