.recommended-articles
	h4.side-header-text 한번 읽어보세요
	each article in recommended_articles
		.recommended-article-preview
			.article-texts
				.article-name
					span= article.title
				.article-description
					span= jadeHelper.dummyText


			
