div#signupModal.modal.modal-small.fade(tabindex="-1", role="dialog", aria-labelledby="signupModal")
		.modal-dialog(role="document")
			.modal-content
				.modal-header
					button.close(type="button", data-dismiss="modal", aria-label="Close")
						span(aria-hidden="true") x
				.modal-body
					form(action="/signup", method="post")
						.form-group
							input.form-control(type="text", name="name", placeholder="이름")
						.form-group
							input.form-control(type="text", name="email", placeholder="이메일 주소")
						.form-group
							input.form-control(type="password", name="password", placeholder="비밀번호")
						button.btn.btn-default.btn-block(type="submit") 회원가입
				.modal-footer
			//</content
		//</dialog

