div#subNav.navbar-collapse.collapse
	.container
		ul.nav.navbar-nav
			if region
				li.nav-item
					a(href="/regions/#{region.url}")= region.name
			li.nav-item
				a(href="/events") 이벤트
			li.nav-item
				a(href="/train") 기차여행
			li.nav-item
				- var restaurantsLink = region ? "/regions/" + region.url + "/restaurants" : "/restaurants";

				a(href="#{restaurantsLink}") 맛집
