extends ../layout

block script
	link(rel ="stylesheet", href="/stylesheets/articles/index.css")
	if (region)
		link(rel="stylesheet", href="/stylesheets/partials/region_header.css")

	link(rel="stylesheet", href="/stylesheets/partials/article_search.css")
	link(rel="stylesheet", href="/stylesheets/partials/article_row.css")

block center_content

	- var openSearch = true;
	include ../mixins/article_search.jade
	+article_search(all_regions, all_boards, checked_regions, checked_boards, openSearch)
			
	.articles-container
		.menu-box
			a.btn.btn-default(type="button", href="/articles/new?redirect_url=#{jadeHelper.encodeURI(url)}") 새글쓰기

		include ../mixins/article_row.jade
		table.table.articles
			if (articles)
				each article in articles
					+article_row(article, region, checked_regions, checked_boards)
