extends ../layout 
block script
	script(src="/plugins/tinymce/tinymce.min.js")
	link(rel="stylesheet", href="/stylesheets/tinymce.css")
	link(rel="stylesheet", href="/stylesheets/articles/new.css")
	link(rel="stylesheet", href="/plugins/jquery-file-upload/css/jquery.fileupload.css")
	script(src="/javascripts/tinymce_page.js")
	script(src="/javascripts/articles/new.js")
	script(src="/plugins/javascript-load-image/js/load-image.all.min.js")
	script(src="/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js")
	script(src="/plugins/jquery-file-upload/js/jquery.iframe-transport.js")
	script(src="/plugins/jquery-file-upload/js/jquery.fileupload.js")
	script(src="/plugins/jquery-file-upload/js/jquery.fileupload-process.js")
	script(src="/plugins/jquery-file-upload/js/jquery.fileupload-image.js")
	script(src="/plugins/jquery-file-upload/js/jquery.fileupload-audio.js")
	script(src="/plugins/jquery-file-upload/js/jquery.fileupload-video.js")
	script(src="/plugins/jquery-file-upload/js/jquery.fileupload-validate.js")

	link(rel="stylesheet", href="/stylesheets/region_selector.css")
	script(src="/javascripts/region_selector.js")
	script(src="/javascripts/board_selector.js")
	script(src="/javascripts/tag_selector.js")


block content
	#content
		.content-body
			.write-form-wrapper
				form(action="/articles/create?redirect_url=#{redirect_url}", method="post")
					.form-group
						input.region-select.form-control(type="text", name="region-select", placeholder="서울")
					.form-group
						select.board-select.form-control(name="board")

					.form-group
						input.form-control(type="text", name="title", placeholder="제목")

					.form-group
						.tinymce-toolbar
						#article_content.tinymce(name="content")

					.form-group
						.tags
							input.tag-select.form-control(type="text", name="tag_autocomplete", placeholder="태그(스페이스나 쉼표로 구분)")
							

					.form-group
						#fileupload
						span.btn.btn-success.fileinput-button
							i.glyphicon.glyphicon-plus
							span Add files
							input#allFileInput(type="file", name="images[]", multiple)
						#progress.progress
							.progress-bar.progress-bar-success
						#files.files
						input#singleImageInput.tinymce-single-image-input(type="file", name="image", data-url="/upload", accept="image/*")
						input#imageIds(type="hidden", name="image_ids")
							
					button.btn.btn-primary(type="submit") 글쓰기
append bottom_script
	script(src="/javascripts/bootstrap3-typeahead.min.js")
