.article-wrapper {
  width: 100%;
  margin: auto;
  padding: 10px;
  border: 1px solid #ddd; }
  .article-wrapper .container {
    width: 100%; }

.title-row {
  border-bottom: 1px solid #ccc;
  padding: 10px; }
  .title-row .star-box {
    margin-right: 10px; }
  .title-row .title {
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle; }

.body-row {
  padding: 10px;
  margin-top: 30px; }
  .body-row img {
    max-width: 100%; }

.date-row {
  color: #aaa;
  font-size: 11px; }
  .date-row .updated-at {
    margin-left: 20px; }

.option-row {
  margin-bottom: 10px; }
  .option-row .reply-button-row {
    text-align: left; }
  .option-row .report-button-row {
    text-align: right; }
    .option-row .report-button-row a {
      color: #aaa;
      font-size: 10px; }
    .option-row .report-button-row a:hover {
      color: #444; }

.recommend-row {
  text-align: center; }
  .recommend-row .star-box {
    margin-bottom: 10px; }

.comment-container {
  margin-top: 50px;
  border: 1px solid #ccc; }
  .comment-container .comment-header {
    padding: 10px;
    background-color: #ddd; }
  .comment-container .author-info {
    font-weight: bold; }

.other-articles {
  margin-top: 50px; }

.tags-row .tag-item {
  padding: 10px;
  background-color: #f5dfe8;
  display: inline-block;
  margin: 5px;
  font-size: 12px;
  color: #e685bc;
  box-shadow: 5px 5px 1px #bbb; }
