.region-selector-wrapper .twitter-typeahead {
  width: 100px; }

.region-selector-wrapper .region-select {
  width: 100px;
  display: inline-block; }

.region-selector-wrapper .regions-box {
  margin-left: 20px;
  display: inline-block; }
  .region-selector-wrapper .regions-box .selected-region {
    margin-left: 5px;
    margin-right: 5px; }
