#content {
  background-color: #537480; }

.index-nav {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.05);
  margin-bottom: 0px; }
  .index-nav .navbar-header {
    float: left; }
  .index-nav .navbar-collapse {
    float: right; }
  .index-nav a {
    color: #fff; }

.main-nav {
  width: 100%;
  z-index: 1000;
  background-color: white;
  margin-bottom: 0px; }
  .main-nav .navbar-header {
    float: left; }
  .main-nav .navbar-collapse {
    float: right; }
  .main-nav a {
    color: #000; }

.btn-search {
  background-color: #c2eddb; }

.region-select-box {
  width: 460px;
  margin: auto;
  padding: 30px 80px 30px 80px;
  background-color: rgba(0, 0, 0, 0.2); }

.select-with-button {
  width: 300px;
  margin: auto; }
  .select-with-button .select-box {
    width: 200px;
    margin: 0px;
    display: inline-block; }
    .select-with-button .select-box .region_select {
      margin: 0px; }
  .select-with-button .button-box {
    width: 100px;
    margin: 0px;
    display: inline-block; }
    .select-with-button .button-box .btn {
      width: 100px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      margin: 0px; }

.head-sector {
  height: 600px;
  position: relative; }
  .head-sector .head-content {
    position: relative;
    z-index: 2; }
    .head-sector .head-content .middle {
      padding-top: 200px; }

.background {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  display: block; }

.form-control, .btn, .select {
  border-radius: 0px; }

select {
  -webkit-appearance: none;
  display: block; }
