.restaurants {
	.hero {
		width: 100%;
		background-image: url("/images/restaurant.jpg");
		background-repeat: no-repeat;
		background-position: center center;
		position: relative;
		height: 500px;

		.middle {
			.title {
				color: white;
				text-align: center;
			}
			position: relative;
			top: 50%;
			transform: translateY(-50%);

			.region-select-box {
				md-autocomplete {
					display: inline-block;
					width: 150px;
				}
			}
		}
	}
}

