div#newRegionModal.modal.modal-small.fade(tabindex="-1", role="dialog", aria-labelledby="newRegionModal")
			.modal-dialog(role="document")
				.modal-content
					.modal-header
						button.close(type="button", data-dismiss="modal", aria-label="Close")
							span(aria-hidden="true") x
					.modal-body
						form(action="/admin/regions/create", method="post")
							.form-group
								input.form-control(type="text", name="name", placeholder="이름")
							.form-group
								input.form-control(type="text", name="url", placeholder="Url")
							.form-group
								input.form-control(type="text", name="promotion_text", placeholder="홍보 문구")
							.form-group
								input.form-control(type="text", name="background_image_path", value="/images/background_images/default.png")
							button.btn.btn-default.btn-block(type="submit") Create
					.modal-footer
				//</content
			//</dialog



