extends ../layout

block script
	link(rel="stylesheet", href="/stylesheets/etc/train.css")

block left_sidebar 
	.train-nav
		.container-fluid.links
			.row
				.col-xs-12
					a.btn.btn-default(href="#") 기차여행 이벤트
			.row
				.col-xs-12
					a.btn.btn-default(href="#") 기차/내일로 이야기
			.row
				.col-xs-12
					a.btn.btn-default(href="#") 물어보세요
			.row
				.col-xs-12
					a.btn.btn-default(href="#") 동행 구하기



