script(type="text/ng-template", id="mapPlaceWindow.html")
		div.info-window(data-ng-controller="infoWindowController", ng-cloak)
			a(ng-click="open(parameter)", ng-cloak)
				h3.name(ng-cloak) {{ parameter.name }}
				span.category(ng-repeat="category in parameter.categories", ng-cloak) {{category}}

			div.star-rating(ng-init="makeRaty()")
