script(type="text/ng-template", id="placeModal.html")
	.modal-header
		h3.modal-title I'm a modal!
	.modal-body
		p= jadeHelper.dummyText
	.modal-footer
		button.btn.btn-primary(type="button", ng-click="close()") 닫기


