.grid {
  width: 100%;
  margin: auto; }

.grid-sizer, .grid-item {
  width: 33.33%; }

.photo-article-item {
  float: left; }
  .photo-article-item .photo-box {
    width: 100%;
    margin: auto;
    text-align: center; }
    .photo-article-item .photo-box img {
      width: 100%;
      max-height: 100%; }
  .photo-article-item .author {
    background-color: #e6e0c8;
    padding: 10px;
    border-top: 1px solid #ccc;
    width: 100%; }
