extends ../layout

block content
	.col-sm-5
	.col-sm-1
		form(action="/admin/boards/update/#{board._id}?redirect_url=#{redirect_url}", method="post")
			.form-group
				input.form-control(type="text", name="name", placeholder="이름", value="#{board.name}")
			button.btn.btn-default.btn-block(type="submit", href="#{redirect_url}") Update

