div#newBoardModal.modal.modal-small.fade(tabindex="-1", role="dialog", aria-labelledby="newBoardModal")
			.modal-dialog(role="document")
				.modal-content
					.modal-header
						button.close(type="button", data-dismiss="modal", aria-label="Close")
							span(aria-hidden="true") x
					.modal-body
						form(action="/admin/boards/create", method="post")
							.form-group
								span name
								input.form-control(type="text", name="name", placeholder="이름")
							.form-group
								span type
								select.form-control(name="type")
									each type in board_types
										option(value="#{type}")= type
							.form-gorup
								span unique_name
								select.form-control(name="unique_name")
									each name in board_names
										option(value="#{name}")= name
							.form-group
								span major
								input.form-control(type="checkbox", name="major", value="true")
							button.btn.btn-default.btn-block(type="submit") Create
					.modal-footer
				//</content
			//</dialog

