html, body {
	height: 100%;
}
#map {
	height: 100%;

}


.map-form-wrapper {
	width: 700px;
	height: 100%;
	padding: 20px;

	margin: auto;

	.form-group input {
		width: 400px;

	}

	.submit-button {
		display: block;
		width: 200px;
		margin: auto;
		margin-bottom: 20px;
	}
}

.photo-col {
	.photo-preview {
		width: 100px;
		height: 100px;
		display: inline-block;

		.place-preview{
			max-width: 100px;
			max-height: 100px;
		}
	}

	.photo-input-box {
		width: 200px;
		height: 100px;
		overflow: visible;
		display: inline-block;
		vertical-align: top;
		#placePhoto {
			position: relative;
			top: 50%;
			width: 200px;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
		}
	}
}

.photos {
	width: 340px;
	height: 150px;
	display: inline-block;
	vertical-align: top;

	.photo-item {
		display:inline-block;
		vertical-align: top;
		padding: 10px;

		img {
			max-width: 100px;
		}
	}
}

