extends ../layout

block script
	link(rel = "stylesheet", href="/stylesheets/regions/main.css")

block center_content 
	.head-sector
		.background
			img(src="#{jadeHelper.tryDefaultImage(background_image_path, '/images/background_images/default.jpg')}")
		.head-content
			.middle
				.promotion-box
					h1= region.name
					h2= region.promotion_text
			.bottom-menu
				.menu-box
					if (region.boards)
						each board in region.boards
							- query = jadeHelper.buildGetQuery({ regions: [region._id.toString()], boards: [board._id.toString()] })
							a.btn.btn-default(href="/articles?#{query}")= board.name
	.body-sector
		.hot-articles
			h2 최신 게시글
			h2 인기 여행기
			h2 질문글들
		.hot-courses
			h2 지도와 추천 코스들

	

