extends ../layout

block script
	link(rel = "stylesheet", href="/stylesheets/regions/main.css")
	script(src="/javascripts/map_manager.js")
	script(src="/javascripts/regions/main.js") 
	script(src="/bower_components/lodash/dist/lodash.min.js")
	script(src="/bower_components/angular/angular.js")
	script(src="/bower_components/angular-simple-logger/dist/angular-simple-logger.min.js")
	script(src="/bower_components/angular-google-maps/dist/angular-google-maps.min.js")
	script(src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
	script(src="/javascripts/angular/google.map.js")
	script(src="/javascripts/angular/place.modal.js")
	script(src="/javascripts/angular/comment.form.js")
	link(rel="stylesheet", href="/bower_components/raty/lib/jquery.raty.css")
	script(src="/bower_components/raty/lib/jquery.raty.js")
	script(src="/bower_components/slick-carousel/slick/slick.min.js")
	link(rel="stylesheet", href="/bower_components/slick-carousel/slick/slick.css")
	link(rel="stylesheet", href="/bower_components/slick-carousel/slick/slick-theme.css")
	link(rel="stylesheet", href="/stylesheets/angular/place_modal.css")
	link(rel="stylesheet", href="/stylesheets/angular/place_info_window.css")
	link(rel="stylesheet", href="/stylesheets/mixins/comment_field.css")
	link(rel="stylesheet", href="/stylesheets/mixins/comment_row_small.css")

append variables
	- var angular_app = 'region.main';

block script_variables 
	| var local_data = !{JSON.stringify(local_data)};   

block templates
	include ../angular/place_modal.jade
	include ../angular/place_info_window.jade
	
block center_content 
	.hero
		.hot-travels
			each travel in travels
		
	.body-sector
		.hot-articles
			.recent-articles
				h4.category-header 새로운 글들
				each article in recent_articles
					include ../partials/article_brief.jade
			.hot-travels
				h4.category-header 인기있는 여행기 
				each article in recent_articles
					include ../partials/article_brief.jade
			.questions
				h4.category-header 도움이 필요해요
				each article in recent_questions
					include ../partials/article_brief.jade

		.hot-courses(ng-controller="googleMapController as gMapController")
			.region-map
				.testmap
					ui-gmap-google-map(center="map.center", zoom="map.zoom", pan="false")
						ui-gmap-markers(models="places", coords="'location'", click="onClickMarker")
						ui-gmap-window(coords="infoWindow.location", show="infoWindow.show", closeClick="onCloseInfoWindow", templateUrl="'mapPlaceWindow.html'", templateParameter="infoWindow")
			.places
				.place-item(ng-repeat="place in places")
					button.place-button.btn.btn-default(type="button", ng-click="onClickPlaceButton(place)") 
						span {{ place.name }}


