.place-modal {
	.modal-header {
		background-color: #c3e0e6;
	}
	.slick-next {
		right: -5px;
	}
	.slick-prev {
		left: -5px;
	}

	.slick-slider {
		margin-bottom: 5px;
	}
	.photos-block {
		.photo-item {
			img {
				width: 100%;
			}
		}
	}

	.category {
		margin-right: 5px;
	}

	.description {
		p {
			white-space: pre;
			word-wrap: break-word;
		}

		border-bottom: 1px solid #ccc;
	}

	.comment-container {
		margin-top: 15px;
	}

	.comment-field-ajax {
		margin-top: 15px;
	}
}
